<div>
	<nav data-topbar class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1>
					<a href="/">RIT II {{view}}</a>
				</h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>menu</span>
			</a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li><a href="#/signin">Sign in</a></li>
			</ul>
		</section>
	</nav>
	<div>
		<div class="panel">
			<form>
				<div class="row">
					<div class="medium-4 small-centered columns">
						<label>Name <input ng-model="user.name" type="text"
							name="name" placeholder="Name" required />
						</label> <label>e-mail <input ng-model="user.email" type="email"
							name="mail" placeholder="john.doe@somesite.com" required />
						</label> <label>User Name <input ng-model="user.username"
							type="text" name="user" placeholder="Username" required />
						</label> <label>Password <input ng-model="user.password"
							type="password" name="pass" placeholder="Password" required />
						</label> <input class="button [tiny small large]" ng-click="register()" type="submit" value="submit"/>
						<div ng-show="isError" data-alert class="alert-box warning round">
							{{error}} <a href="#/register" class="close">&times;</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</div>
